<%- include ../header2 %>
	<div class="page">
		<div class="menu-part">
			<%- include ../face %>
			<%- include ../leftMenu %>
		</div>
		<div class="main">
		<%- include ../search %>
	<% var task={title:'其他重要工作督查',list:[{fav:false,status:'任务推进中',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',company:'南航后勤飞行保障部',time:'2018-12-11 12:00:00'},{fav:false,status:'任务推进中',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',company:'南航后勤飞行保障部',time:'2018-12-11 12:00:00'},{fav:false,status:'任务推进中',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',company:'南航信息中心',time:'2018-12-11 12:00:00'},{fav:false,status:'任务推进中',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',company:'南航后勤飞行保障部',time:'2018-12-11 12:00:00'},{fav:false,status:'任务推进中',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',company:'南航后勤飞行保障部',time:'2018-12-11 12:00:00'},{fav:false,status:'任务推进中',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',company:'南航后勤飞行保障部',time:'2018-12-11 12:00:00'},{fav:false,status:'任务推进中',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',company:'南航物业',time:'2018-12-11 12:00:00'},{fav:false,status:'任务推进中',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',company:'南航地勤',time:'2018-12-11 12:00:00'},{fav:false,status:'任务推进中',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',company:'南航后勤飞行保障部',time:'2018-12-11 12:00:00'},{fav:false,status:'任务推进中',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的ssssss标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',company:'南航后勤飞行保障部',time:'2018-12-11 12:00:00'},{fav:false,status:'任务推进中',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',company:'南航后勤飞行保障部',time:'2018-12-11 12:00:00'},{fav:false,status:'任务推进中',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',company:'南航后勤飞行保障部',time:'2018-12-11 12:00:00'},{fav:false,status:'任务推进中',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',company:'南航财务部',time:'2018-12-11 12:00:00'},{fav:false,status:'任务推进中',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',company:'南航后勤飞行保障部',time:'2018-12-11 12:00:00'},{fav:false,status:'任务推进中',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',company:'南航后勤飞行保障部',time:'2018-12-11 12:00:00'},{fav:false,status:'任务推进中',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',company:'南航后勤飞行保障部',time:'2018-12-11 12:00:00'},{fav:false,status:'任务推进中',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',company:'南航后勤飞行保障部',time:'2018-12-11 12:00:00'},{fav:false,status:'任务推进中',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',company:'南航后勤飞行保障部',time:'2018-12-11 12:00:00'}]} %>
	<div class="list-part">
			<div class="title">
				<h3><%=task.title%><b>(<span><%=task.list.length%></span>)</b></h3>
				<div class="poa">
					<label>
						<input type="checkbox" name="" data-checked="#box-1">
						全选
					</label>
					<button class="btn btn-primary-s">同意发送</button>
				</div>
			</div>
			
			<ul class="list-box list-unstyled" id="box-1">
				<% task.list.forEach(function(item,index){ %>
					<li>
						<input type="checkbox" name="">
						<a href="">
							<ins><%=item.status%></ins>
							<span>
								【<span class="c"><%=item.company%></span>】
								<%=item.title%>
							</span>
							<span class="t">
								<%=item.time%>
							</span>
						</a>
					</li>
				<% }) %>
			</ul>
			<div class="tar">
				<%- include ../page %>
			</div>
		</div>

	</div>
	
<%- include ../footer2 %>
