<%- include ../header2 %>
	<div class="page">
		<div class="menu-part">
			<%- include ../face %>
			<%- include ../leftMenu %>
		</div>
		<div class="main">
	<% var projects=[
		{title:'年度重点工作任务',list:[{fav:false,company:'【南航飞行保障部】',time:'2018-12-11 12:00:00',status:'【任务分解中】',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',process:'70%'},{check:false,fav:false,status:'【任务审批中】',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',company:'【南航信息中心】',time:'2018-12-11 12:00:00',process:'70%'}]},

		{title:'领导行政例会督查',list:[{fav:false,company:'【南航信息中心】',time:'2018-12-11 12:00:00',status:'【任务推进中】',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',process:'70%'},{check:false,fav:false,status:'【任务推进中】',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',company:'【南航信息中心】',time:'2018-12-11 12:00:00',process:'70%'},{check:false,fav:false,status:'【任务推进中】',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',process:'70%'},{check:false,fav:false,status:'【任务推进中】',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',process:'70%'},{check:false,fav:false,status:'【任务推进中】',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',company:'【南航信息中心】',time:'2018-12-11 12:00:00',process:'70%'}]},

		{title:'总经理办公会督查',list:[{fav:false,status:'【任务推进中】',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',company:'【南航信息中心】',time:'2018-12-11 12:00:00',process:'70%'},{check:false,fav:false,status:'【任务推进中】',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',company:'【南航信息中心】',time:'2018-12-11 12:00:00',process:'70%'},{check:false,fav:false,status:'【任务推进中】',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',company:'【南航信息中心】',time:'2018-12-11 12:00:00',process:'70%'},{check:false,fav:false,status:'【任务推进中】',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',process:'70%'},{check:false,fav:false,status:'【任务推进中】',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',process:'70%'},{check:false,fav:false,status:'【任务推进中】',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',process:'70%'},{check:false,fav:false,status:'【任务推进中】',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',process:'70%'},{check:false,fav:false,status:'【任务推进中】',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',process:'70%'},{check:false,fav:false,status:'【任务推进中】',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',company:'【南航信息中心】',time:'2018-12-11 12:00:00',process:'70%'}]},

		{title:'其他重要工作督查',list:[{fav:false,status:'【任务推进中】',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',process:'70%'},{check:false,fav:false,status:'【任务推进中】',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',process:'70%'},{check:false,fav:false,status:'【任务推进中】',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',process:'70%'},{check:false,fav:false,status:'【任务推进中】',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',process:'70%'},{check:false,fav:false,status:'【任务推进中】',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',process:'70%'},{check:false,fav:false,status:'【任务推进中】',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',process:'70%'},{check:false,fav:false,status:'【任务推进中】',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',process:'70%'},{check:false,fav:false,status:'【任务推进中】',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',process:'70%'},{check:false,fav:false,status:'【任务推进中】',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',process:'70%'}]}

	]; %>
	<% projects.forEach(function(task,key){ %>
	<div class="list-part">
			<div class="title">
				<h3><%=task.title%></h3>
				<div class="poa">
					<a href="pendingPage.html" class="iconfont icon-sv-arrow-down">更多</a>
				</div>
			</div>
			<ul class="list-box list-unstyled" id="box-<%=key%>">
				<% task.list.forEach(function(item,index){ %>
					<li style="display: <%=index>4?'none':'block';%>">
						<input type="checkbox" name="">
						<a href="" data-toggle="modal" data-target="#missionModal">
							<ins><%=item.status%></ins>
							<span>
								<span class="c"><%=item.company%></span>
								<%=item.title%>
							</span>
							<span class="t"><%=item.time%></span>
						</a>
					</li>
				<% }) %>
			</ul>
		</div>
	<% }) %>

	</div>
<%- include missionModal %>
<%- include ../footer2 %>

