<% var projects=[
	{title:'年度重点工作任务',id:'year',list:[{fav:true,status:'【任务推进中】',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',process:'70%'},{check:false,fav:false,status:'【任务推进中】',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',process:'70%'}]},

	{title:'领导行政例会督查',id:'leader',list:[{fav:false,status:'【任务推进中】',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',process:'70%'},{check:false,fav:false,status:'【任务推进中】',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',process:'70%'},{check:false,fav:false,status:'【任务推进中】',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',process:'70%'},{check:false,fav:false,status:'【任务推进中】',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',process:'70%'},{check:false,fav:false,status:'【任务推进中】',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',process:'70%'}]},

	{title:'总经理办公会督查',id:'manage',list:[{fav:false,status:'【任务推进中】',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',process:'70%'},{check:false,fav:false,status:'【任务推进中】',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',process:'70%'},{check:false,fav:false,status:'【任务推进中】',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',process:'70%'},{check:false,fav:false,status:'【任务推进中】',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',process:'70%'},{check:false,fav:false,status:'【任务推进中】',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',process:'70%'},{check:false,fav:false,status:'【任务推进中】',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',process:'70%'},{check:false,fav:false,status:'【任务推进中】',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',process:'70%'},{check:false,fav:false,status:'【任务推进中】',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',process:'70%'},{check:false,fav:false,status:'【任务推进中】',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',process:'70%'}]},

	{title:'其他重要工作督查',id:'other',list:[{fav:true,status:'【任务推进中】',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',process:'70%'},{check:false,fav:false,status:'【任务推进中】',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',process:'70%'},{check:false,fav:false,status:'【任务推进中】',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',process:'70%'},{check:false,fav:false,status:'【任务推进中】',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',process:'70%'},{check:false,fav:false,status:'【任务推进中】',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',process:'70%'},{check:false,fav:false,status:'【任务推进中】',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',process:'70%'},{check:false,fav:false,status:'【任务推进中】',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',process:'70%'},{check:false,fav:false,status:'【任务推进中】',title:'这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题这是测试的标题，这是测试的标题',process:'70%'}]}

]; %>

	<div class="list-part">
		<ul class="nav nav-tabs" role="tablist">
			<% projects.forEach(function(task,key){ %>
				<% if(key === 0) { %>
			    <li role="presentation" class="active"><a href="#<%=task.id%>" aria-controls="<%=task.id%>" role="tab" data-toggle="tab"><%=task.title%></a></li>
			    <% }else{ %>
			    <li role="presentation"><a href="#<%=task.id%>" aria-controls="<%=task.id%>" role="tab" data-toggle="tab"><%=task.title%></a></a></li>
			    <% } %>
			<% }) %>  
		 </ul>
		<%- include search %>
	  <div class="tab-content">
	  <% projects.forEach(function(task,key){ %>
	    	<div role="tabpanel" class="tab-pane <%=key===0?'active':''%>" id="<%=task.id%>">
	    		<% if(key===3){ %>
	    			<div class="no-page">
						<div class="no-page-icon">

						</div>
						<p>hi~~您还没有督查任务O(∩_∩)O</p>
					</div>
				<% }else{ %>
					<ul class="list-box list-unstyled" id="box-<%=key%>">
		    		<% task.list.forEach(function(item, index){ %>
						<li>
							<a href="" data-toggle="modal" data-target="#detailModal">
								<% if(item.check){ %>
								<input type="checkbox" <%= item.check ? 'checked' : '' %> />
								<% } %>
								<% if(item.fav){ %>
									<i class="iconfont icon-sv-fav-s"></i>
								<% } %>
								<ins><%=item.status%></ins>
								<span class="l"><%=item.title%></span>
								<em><%=item.process%></em>
							</a>
						</li>
						<% }) %>
					</ul>
				<% } %>
	    	</div>
	     <% }) %>
	     <div class="tar">
	     	<%- include page %>
	     </div>
	  </div>

</div>
