	
			<div class="form-box form-horizontal">
				<a href="javascript:void(0)" class="iconfont icon-sv-reduce trash" style="display:none;"></a>
				<% task = [
					{label: '督查编号:',type:'text',place:'请输入督查编号'},
					{label: '任务内容:',type:'textarea',place:'请输入任务内容'},
					{label: '主办单位:',type:'text',place:'请输入主办单位',modal:'#company',tag:'leader'},
					{label: '协办单位:',type:'text',place:'请输入协办单位',modal:'#company1',tag:'company'},
					{label: '完成时限:',type:'text',place:'请输入完成时限'},
					{label: '启动时间:',type:'text',place:'请输入启动时间'},
				] %>
				<% task.forEach(function(item,index){ %>
					<% if(index === 0){ %>
						<div class="form-group form-customer">
							<label class="col-lg-1 col-sm-1 col-xs-1 col-md-1 control-label"><%= item.label%></label>
							<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
								<select class="form-control dbi">
								  <option>南航集团督</option>
								</select>
								<input type="text" class="form-control dbi num" value="2018" disabled>	
								<input type="text" class="form-control dbi" placeholder="" value="01" disabled>	
								号
							</div>
							<div class="col-lg-5 col-md-5 col-xs-5 col-sm-5">
								<label class="dbi">文件ID</label>
								<input type="text" class="form-control dbi" placeholder="" name="" value="1" disabled>
							</div>
						</div>
					<% }else if(index > 3){ %>
						<div class="form-group">
							<label class="col-lg-1 col-md-1 col-sm-1 col-xs-1 control-label"><%= item.label%></label>
							<div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
								<input type="<%=item.type%>" placeholder="<%=item.place%>" class="form-control input-time" data-date="" data-date-format="yyyy-mm-dd" data-link-field="search" data-link-format="yyyy-mm-dd">
								<span class="iconfont icon-sv-add form-control-feedback"></span>
							</div>
						</div>
					<% }else{  %>
						<div class="form-group">
							<label class="col-lg-1 col-md-1 col-sm-1 col-xs-1 control-label"><%= item.label%></label>
							<div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
								<% if(item.type === 'textarea'){ %>
									<textarea class="form-control" placeholder="<%=item.place%>"></textarea>
								<% }else{ %>
									<input type="<%=item.type%>" class="form-control" placeholder="<%=item.place%>" name="">
									<span class="iconfont icon-sv-add form-control-feedback" data-toggle="modal" data-target="<%=item.modal%>" data-tag="<%=item.tag%>"></span>
								<% } %>
							</div>
						</div>

					<% } %>
				<% }) %>
				<div class="form-group tac form-btn">
					<button type="button" class="btn btn-primary-c" data-btn="sure">添加</button>
					<button type="button" class="btn btn-default-c" data-btn="reset">重置</button>
				</div>
			</div>
<%- include companyModal %>
<%- include companyModal1 %>