<%- include header %>
	<div class="main">
		<%- include breadcrumb %>
			<%- include search2 %>
			<div class="tar">
				<a data-row="table" href="javascript:void(0)"><span class="iconfont icon-sv-add"></span>&nbsp;新增</a>
			</div>
			<div class="table-page">
				<% task = {
					title:['操作','部门ID','部门名称','角色ID','角色名称','员工号','姓名'],
					list:[
						['删除','010023','所有部门','190812','系统管理员','751111','杨过'],
						['删除','010023','所有部门','190812','系统管理员','751111','杨过'],
						['删除','010023','所有部门','190812','系统管理员','751111','杨过'],
						['删除','010023','所有部门','190812','系统管理员','751111','杨过'],
						['删除','010023','所有部门','190812','系统管理员','751111','杨过'],
						['删除','010023','所有部门','190812','系统管理员','751111','杨过'],
						['删除','010023','所有部门','190812','系统管理员','751111','杨过'],
						['删除','010023','所有部门','190812','系统管理员','751111','杨过'],
						['删除','010023','所有部门','190812','系统管理员','751111','杨过']
					]
				} %>
				<table class="table table-bordered">
					<thead>
						<% task.title.forEach(function(item){ %>
							<th><%=item%></th>
						<% })%>
					</thead>
					<tbody>
						<% task.list.forEach(function(data) { %>
							<tr>
								<% data.forEach(function(list) { %>
									<td><%=list%></td>
								<% })%>
							</tr>
						<% })%>
					</tbody>
				</table>
				<div class="tar">
					<%- include page %>
				</div>
			</div>
		</div>
<%- include footer %>
