<%- include header %>
	<div class="page">
		<div class="menu-part">
			<%- include face %>
			<%- include leftMenu %>
		</div>
		<div class="main">
			<%- include search %>
			<%- include list %>
		</div>
	</div>
<%- include footer %>
